// //////////////////////////////////
// SportsEngine Colors & Variables
// /////////////////////////////////

// Colors

$black: #23282b;
$dkgray: #515c63;
$mdgray: #788891;
$ltgray: #d5dadd;
$altgray: #6f7f89;
$light: #f2f3f4;
$lightalt: #f9f9fa;
$offwhite: #fbfbfc;
$grayborder: #c3cace;
$blue: #008cc3;
$bluehover: #0381b3;
$dkblue: #00292c;
$green: #00a846;
$greenhover: #069a45;
$yellow: #f0b428;
$orange: #e16428;
$purple: #5a5a96;
$red: #ea322f;
$twitter: #4099ff;
$facebook: #3b5998;
$footer-gray: #23282B;
$blueishhover: #e9f0f3;
